.contact-list{
  display: flex;
  border-bottom: solid grey 1px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  
}
.phone{
 align-self: flex-start;
  font-weight: 900;
  display: block;
}
.contact-list:last-child{
  border-bottom: none;
}
.img-bg{
  width: 20%;

  
 
}
.img-bg img{
  border-radius: 50%;
  height: 100px;
  height: 70px;
}
.name-phone{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin-left: 5px;

}
.name-phone h2{
  align-self: flex-start;
  margin-bottom: 10px;
}
.others{
  width: 30%;
}